* {
    margin: 0;
    padding:0;
}

.box-1{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: relative;
    top: 580px;
    left: 220px;
    z-index: 10;
}

.box-4{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: relative;
    left: 80px;
    bottom: 20px;
    z-index: 10;
}

.box-2{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: relative;
    left: 100px;
    top: 40px;
    z-index: 10;
}

.box-3{
    width: 300px;
    height: 300px;
    background-color: lightgreen;
    position: relative;
    left: 50px;
}